.voteFixedBtn {
  display: inline-block;
  position: fixed;
  right: 0;
  bottom: 139px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px 0 0 25px;
  box-shadow: 0 0 3px 2px #00000036;
  line-height: 50px;
  padding-left: 10px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.objectionList {
  .item {
    min-height: 30px;
    padding: 10px 24px;
    border-bottom: 1px solid #eee;
    color: #314659;
  }
  .man {
    font-size: 15px;
    :global(.anticon) {
      float: right;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        color: #1890ff;
      }
    }
    :global(.ant-badge) {
      margin-left: 5px;
      vertical-align: -4px;
    }
  }
  .content {
    color: #314659a6;
  }
}
