.header {
  background: #f4f4f4;
  padding: 10px 22px;
  display: flex;
  gap: 20px;
}
.online {
  position: relative;
  :global(.ant-badge) {
    margin-right: 6px;
  }
}
.user {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
